@model Projeto_ESG.Models.PerfilViewModel;

@{
    ViewData["Title"] = "Perfil";
}

<header>
    <a asp-controller="Home" asp-action="Index">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logoHeader">
    </a>

    @{
        var nomeUsuario = Context.Session.GetString("UsuarioNome"); // Recuperando o nome do usuário
    }

    <nav>
        <div class="Perfil">
            <i class="bi bi-person-fill"></i>
            
            <div class="dropdown-menu">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-person-fill"></i>
                    <h2 style="text-transform: uppercase;">@(string.IsNullOrEmpty(nomeUsuario) ? "Desconectado" : $"{nomeUsuario}")</h2>
                </div>
                <a asp-controller="Home" asp-action="Index">Página Inicial</a>
                <div class="divisor"></div>
                <a asp-controller="Conta" asp-action="Logout">Sair da Conta</a>
                <div class="divisor"></div>
            </div>
        </div>
    </nav>
</header>

<section class="perfilInicio">
    <div class="dadosAplicar">
        <img src="~/img/perfil.jpg" alt="Foto de perfil">
        
        <form method="post" asp-action="AlterarDados" class="formDadosInicio">
            <h2>@(string.IsNullOrEmpty(nomeUsuario) ? "Desconectado" : $"{nomeUsuario}")</h2>

            <textarea type="text"
                name="Descricao"
                placeholder="Descrição"
                @(ViewBag.Editavel ? "" : "readonly")
                class="@(ViewBag.Editavel ? "" : "inputDesabilitado")" 
                maxlength="70">@Model.Dados.Descricao</textarea>

            <button style="@(ViewBag.Editavel ? "display:block;" : "display:none;")" type="submit" @(ViewBag.Editavel ? "" : "disabled")>Aplicar</button>
        </form>
    </div>

    <form method="post" asp-action="EditarDados" class="formDadosEditar">
        <button type="submit" @(ViewBag.Editavel ? "disabled" : "")>Editar</button>
    </form>
</section>

<section class="perfilHome">
    <h2>O Que é seu <span>perfil?</span></h2>
    <p>Na área de perfil, cada usuária pode acompanhar sua trajetória dentro do aplicativo de forma personalizada. É possível visualizar dados importantes, como rotas percorridas e alertas ativados. Além disso, o espaço permite deixar depoimentos sobre como o app tem ajudado no dia a dia, criando uma rede de apoio e inspiração para outras mulheres. Aqui, cada experiência conta e contribui para tornar a comunidade mais forte, informada e protegida.</p>

    <div class="perfilHomeDados">
        <h3>Seus dados do aplicativo</h3>
        <div class="perfilDadosContainer">
            <div class="dados">

            </div>
            <div class="dados">

            </div>
            <div class="dados">

            </div>
        </div>
    </div>

    <form method="post" id="formDepoimento" asp-action="Perfil" asp-controller="Home">
        <h2>Fale sobre nosso <span>aplicativo!</span></h2>
        <p>Sua opinião transforma! Esta é a sua oportunidade de nos contar como o aplicativo tem feito a diferença no seu dia a dia. Queremos ouvir suas sugestões, elogios ou até críticas construtivas, tudo isso nos ajuda a evoluir e oferecer uma experiência cada vez mais segura e eficaz.</p>
        <textarea name="Depoimento" maxlength="500"></textarea>
        <button>Adicionar</button>
    </form>

    <div id="depoimentosPessoal">
        <h2>Seus depoimentos</h2>
        @if (Model?.Depoimentos != null && Model.Depoimentos.Any())
        {
            foreach (var item in Model.Depoimentos)
            {
                
                <div class="depoimentoCard">
                    <img src="~/img/perfil.jpg" alt="Foto de perfil">
                    <div class="depoimentoCardText">
                        <h3>@(string.IsNullOrEmpty(nomeUsuario) ? "Anônimo" : $"{nomeUsuario}")</h3>
                        <p>@item.Depoimento</p>
                    </div>
                    <form method="post" asp-action="ExcluirDepoimento">
                        <input type="hidden" name="depoimento" value="@item.Depoimento" />
                        <button type="submit">Excluir</button>
                    </form>
                </div>
            }
        }
        else
        {
            <span>Nenhum depoimento feito</span>
        }
    </div>

    <div id="depoimentosComunidade">
        <h2>Depoimentos da <span>comunidade</span></h2>

        @foreach (var item in Model.Likes)
        {
            <div class="depoimentoCard">
                <img src="~/img/perfil.jpg" alt="Foto de perfil">
                <div class="depoimentoCardText">
                    <h3>@item.Usuario</h3>
                    <p>@item.DepoimentoComunidade</p>
                </div>
                <div class="depoimentoLike">
                    <span>@item.Like</span>
                    <form method="post" asp-action="AdicionarLike">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">
                            <i class="bi bi-heart-fill @(item.Curtido ? "active" : "")"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</section>